services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  WebVision\Deepltranslate\Core\:
    resource: '../Classes/*'
    exclude: '../Classes/{Domain/Model,Override/Core12}'

  cache.deepltranslateCore:
    class: TYPO3\CMS\Core\Cache\Frontend\FrontendInterface
    factory: ['@TYPO3\CMS\Core\Cache\CacheManager', 'getCache']
    arguments: ['deepltranslate_core']

  WebVision\Deepltranslate\Core\Event\Listener\RenderLocalizationSelect:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate/coreSelector'
        event: TYPO3\CMS\Backend\Controller\Event\RenderAdditionalContentToRecordListEvent

  WebVision\Deepltranslate\Core\Event\Listener\RenderTranslatedFlagInFrontendPreviewMode:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate-core/render-translated-flag-in-frontend-preview-mode'
        event: TYPO3\CMS\Frontend\Event\AfterCacheableContentIsGeneratedEvent

  WebVision\Deepltranslate\Core\Event\Listener\UsageToolBarEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate-core/usages'
        event: TYPO3\CMS\Backend\Backend\Event\SystemInformationToolbarCollectorEvent

  WebVision\Deepltranslate\Core\Event\Listener\ApplyLocalizationModesEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate-core/deepltranslate-core-localization-modes-determine'
        event: WebVision\Deepl\Base\Event\GetLocalizationModesEvent
        after: 'deepl-base/determine-default-typo3-localization-modes'

  WebVision\Deepltranslate\Core\Event\Listener\ProcessLocalizationModeEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate-core/deepltranslate-core-localization-modes-process'
        event: WebVision\Deepl\Base\Event\LocalizationProcessPrepareDataHandlerCommandMapEvent
        after: 'deepl-base/process-default-typo3-localization-modes'

  WebVision\Deepltranslate\Core\Event\Listener\RenderPageViewLocalizationDropdownEventListener:
    tags:
      - name: 'event.listener'
        identifier: 'deepltranslate-core/translation-dropdown'
        event: WebVision\Deepl\Base\Event\ViewHelpers\ModifyInjectVariablesViewHelperEvent
        after: 'deepl-base/default-translation'
